# IDE
.vscode
.idea

# Nuxt
node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Database
*.sqlite
*.db
*.sqlite3
*.*-journal


# Electron
builds
content/3. Utilizando o Manuel/1. Navegação Interna/3. Telas de Cadastro/2. Telas/4. Grupos de permissões/Permissões