.markdown-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 1rem;
}

.markdown-content p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.markdown-content a {
    color: rgb(220, 20, 60);
}

.markdown-content table {
    width: 100%;
    border-collapse: collapse;
}

.markdown-content th,
.markdown-content td {
    border: 1px solid #ddd;
    padding: 8px;
}

.markdown-content th {
    background-color: #f4f4f4;
    text-align: left;
}

.markdown-content tr:nth-child(even) {
    background-color: #f9f9f9;
}

.markdown-content pre {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 6px;
}

.markdown-content img {
    margin-bottom: 2.5rem;
}

.markdown-content ol {
    margin-top: 6px;
    margin-bottom: 1rem;
}

.markdown-content ul {
    margin-top: 6px;
    margin-bottom: 1rem;
}

.markdown-content ol li {
  list-style-type: decimal;
  margin-left: 2rem;
  margin-top: 6px;
}

.markdown-content ul li {
  list-style-type: disc;
  margin-left: 2rem;
  margin-top: 6px;
}

.markdown-content table {
    margin-bottom: 2rem;
}

.markdown-content table img {
    height: 50px;
    margin: 0;
}